@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap");

* {
  background-color: #000;
  color: #f4f4f4;
  font-family: "Kanit", sans-serif;
}

.app {
  min-height: 100vh;
  max-width: 100vw;
  padding: 20px;
}

@media (max-width: 992px) {
  .app {
    max-width: 95vw;
    padding: 10px;
    overflow: hidden;
  }

  .content-container {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
  }
}
